<h1>ZombieMailer#decomp_change</h1>

<p>
  <%= @greeting %>, find me in app/views/zombie_mailer/decomp_change.html.erb
</p>


<h1>Greetings <%= @zombie.name %>,</h1>
<p>Your decomposition state is now <%= @zombie.decomp %> and your
last tweet was: <%= @last_tweet.body %></p>
<%= link_to "View yourself", zombie_url(@zombie) %>
 